<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your Shopping Cart.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th style="width:150px;"></th>
        <th style="width:200px;">Product</th>
        <th style="width:200px;">Price</th>
        <th class="text-center"style="width:200px;">Quantity</th>
        <th class="text-right"style="width:200px;">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let item of cart.items">
        <td>
          <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail" ></div>
        </td>
        <td>
          {{ item.product.title }}
        </td>
        <td>
          {{ item.product.price | currency:'CAD':true}}
        </td>
        <td class="text-center">
         <product-quantity [product]="item.product" [shopping-cart] = "cart"></product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'CAD':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total Price:</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ cart.totalPrice | currency:'CAD':true }}</th>
      </tr>
    </tfoot>
  </table>
  <button (click)="clearCart()" class="btn btn-danger btn-sm">
    Clear Shopping Cart
  </button>
</ng-container>
